.collection-preview {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	margin-top: 70px;
}

.collection-preview .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 20px;
}

.collection-preview .top p {
	cursor: pointer;
}

.collection-preview .title {
	font-size: 28px;
	margin-left: 20px;
}

.collection-preview .preview {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
	.collection-preview {
		text-align: left !important;

		justify-content: space-between;
	}

	.collection-preview .title {
		font-size: 28px;
		margin-left: 40px;
	}

	.collection-preview .preview {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 425px) {
	.collection-preview .preview {
		grid-template-columns: 1fr;
	}
}
