.collection-page {
	display: flex;
	flex-direction: column;
	margin-top: 70px;
}
.collection-page .title {
	font-size: 38px;
	margin-left: 70px;
	width: 100%;
}

.collection-page .items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	margin: 0 auto;
}
.collection-page .items .collection-item {
	margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
	.collection-page {
		align-items: center;
		justify-content: space-between;
	}

	.collection-page .items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
	}
}

@media screen and (max-width: 425px) {
	.collection-page .items {
		grid-template-columns: 1fr;
	}
}
