.hero-container {
	background: linear-gradient(to right, #868f96 0%, #596164 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

.hero-container .left {
	flex: 0.8;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.hero-container .right {
	flex: 1.2;
	display: flex;
	justify-content: center;
}

.right img {
	width: 50%;
}

@media screen and (max-width: 768px) {
	.hero-container {
		margin-bottom: 50px;
	}
	.right img {
		width: 80%;
	}
	.hero-container .left {
		flex: 1;
		padding-left: 10px;
		justify-content: center;
		align-items: flex-start;
		font-size: 16px;
	}

	.hero-container .right {
		flex: 1;
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 425px) {
	.hero-container {
		margin-bottom: 25px;
	}

	.hero-container .left {
		font-size: 12px;
		flex: 0.8;
	}

	.hero-container .right {
		flex: 1.2;
	}
	.right img {
		width: 100%;
	}
}
